*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.main-container{
 background-color: rgb(239, 235, 243);
width: 40%;
margin: auto;
padding: 30px;
border-radius: 7px;
}
.sub-container{
    display: flex;
    gap: 9px;
    margin: 10px;
    padding: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: rgb(224, 237, 248);
}
button{
    background-color:  rgb(193, 143, 240) ;
    width: 20%;
    align-items: center;
    border: none;
    margin: 15px;
    padding: 7px;
    transition: 1s;
    
    
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: 10px;
}
body{
    background-color:rgb(119, 10, 101) ;
}
h3{
    font-size: 15px;
}
button:hover{
    transform: scale(1.2);

}